services:
  # HARDHAT BLOCKCHAIN
  hardhat:
    build:
      context: .  
      dockerfile: Dockerfile.hardhat
    container_name: hardhat-node
    ports:
      - "8545:8545" # So that the test script can also access your machine
    networks:
      - chainlink-net
    volumes:
      - .:/app             # we mirror the entire folder
      - /app/node_modules  # EXCEPTION: the container uses its own node_modules, not the poject's!
    healthcheck:
      test: ["CMD", "curl", "-f", "-X", "POST", "-H", "Content-Type: application/json", "--data", '{"jsonrpc":"2.0","method":"net_version","params":[],"id":67}', "http://localhost:8545"]
      interval: 5s
      timeout: 5s
      retries: 5

  # EXTERNAL API
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: local-api
    volumes:
      - ./scripts/api.js:/app/api.js
    command: ["node", "api.js"]
    ports:
      - "5000:5000"
    networks:
      - chainlink-net

  # POSTGRES DATABASE
  postgres:
    image: postgres:17-alpine
    container_name: cl-postgres
    environment:
      POSTGRES_USER: chainlink
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: chainlink_db
    command: postgres -c max_connections=300
    ports:
      - "5432:5432"
    networks:
      - chainlink-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U chainlink -d chainlink_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  # CHAINLINK NODE
  chainlink:
    image: smartcontract/chainlink:2.29.0
    container_name: chainlink
    depends_on:
      postgres:
        condition: service_healthy
      hardhat:
        condition: service_healthy
    ports:
      - "6688:6688"
    volumes:
      - ./chainlink-config:/chainlink
    command: node -config /chainlink/config.toml -secrets /chainlink/secrets.toml start -a /chainlink/apicredentials
    environment:
      - HARDHAT_URL=http://hardhat:8545 # internal network address
    networks:
      - chainlink-net
    restart: on-failure
  
  # SAVE CHAINLINK NODE ADDRESS TO .env
  chainlink-setup:
    image: alpine:latest
    container_name: chainlink-setup
    depends_on:
      chainlink:
        condition: service_started
    networks:
      - chainlink-net
    volumes:
      - ./.env:/app/.env                        # Írási jog a host .env fájljára
      - ./chainlink-config:/app/chainlink-config # Olvasási jog a jelszavakhoz
      - ./update_env_with_node_address.sh:/app/update_env_with_node_address.sh
    working_dir: /app
    environment:
      - CHAINLINK_URL=http://chainlink:6688
    command: >
      /bin/sh -c "apk add --no-cache curl bash dos2unix && 
      cp update_env_with_node_address.sh /tmp/script.sh && 
      dos2unix /tmp/script.sh && 
      chmod +x /tmp/script.sh && 
      /tmp/script.sh"

networks:
  chainlink-net:
    driver: bridge